*{
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
}

.background{
    width: 100%;
    height: 100%;
    background-image: url(../Images/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
}

.nav{
    width: 350px;
    height: auto;
    padding-top: 100px;
    align-items: center;
    /* border: 2px solid wheat; */
}

.nav a{
    text-decoration: none;
    font-size: 28px;
    font-family: verdana;
    font-weight: bold;
    height: 90px;
    margin: 5px 0;
    display: inline-block;
    background-color: gray;
    color: white;
    line-height: 90px;
    text-align: center;
    transition: 300ms;
}

a.active, .nav a:hover{
    background-color: white;
    color: black;
    width: 100%;
}
.a{
    width: 95%;
}
.b{
    width: 85%;
}
.c{
    width: 80%;
}
.d{
    width: 90%;
}

/* .content{
    position: absolute;
    width:830px;
    min-height: 400px;
    height: auto;
    background-color:royalblue;
    right: 0;
    top: 15%;
}*/
.home{
    color: whitesmoke;
    font-family: verdana;
    padding-top: 40px;
} 

.home h1{
    font-size: 100px;
    text-transform: uppercase;
}

.home h1{
    font-size: 80px;
    padding-right: 60px;
    border-bottom: 1px solid white;
}

.home3{
    font-size: 30px;
    padding: 5px 0;
    opacity: 0.6;
}


.aboutme{
    position: absolute;
    right: 0;
    top: 10px;
    color:white;
    font-family: century gothic;
    padding: 0 60px; 
     
}

.aboutme p{
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 15px;
    
}

.profile-picture{
    display: flex;
    justify-content: top;
    padding: 10px 0 10px 0;
}
 .contact{
position: relative;
right: 0;
top: 0px;
color: white;
padding: 0 50px;
align-items: flex-start; 
}


.container{
    display: flex;
    flex-direction: row;
    /* border: 2px solid wheat; */
    padding-top: 80px;
}

.content{
    width: 100%;
    text-align: center;
    /* border: 2px solid rgb(255, 166, 0);     */
}

.container{
    display: inline;
    flex-direction: column;
    /* border: 2px solid wheat; */
    padding-top: 20px;}


    /* .contactform{
        width: 100%;
        height: 65px;
        border: 3px solid black;
        color: rgb(31, 31, 31);
        background-color: rgb(0,0,0,0,7);
        font-size: 20px;
        padding: 0 10px;
        float: left;
        margin-bottom: 15px;
    } */



/* .inputtext{
    width: 55%;
    height: 65px;
    border: 3px solid black;
    color: rgb(31, 31, 31);
    background-color: rgb(0,0,0,0,7);
    font-size: 20px;
    padding: 0 10px;
    float: left;
    margin-bottom: 15px;
} */

.inputmessage .inputtext{
    width: 100%;
    height: 125px;
    border: 3px solid black;
    color: rgb(19, 19, 19);
    background-color: rgb(0,0,0,0,0.7);
    font-size: 20px;
    padding: 0 10px;
    float: left;
}

textarea{
    width: 100%;
    height: 205px;
    font-family: arial;
    background-color: white;
    color: black;
    font-size: 28px;
    border: none;
    font-weight: bold;
    margin-top: 25px;
}

input[type=text]{
    width: 100%;
    height: 65px;
    font-family: arial;
    background-color: white;
    color: black;
    font-size: 28px;
    border: none;
    font-weight: bold;
    margin-top: 25px;
}

.submitbutton{
    width: 160px;
    height: 65px;
    font-family: arial;
    background-color: white;
    color: black;
    font-size: 28px;
    border: none;
    font-weight: bold;
    margin-top: 25px;
}
.btn{

}
.container{
    display: inline;
    flex-direction: column;
    /* border: 2px solid wheat; */
    padding-top: 20px;}

.profile-picture{
    display: flex;
    justify-content: center;
    /* border: 2px solid rgb(255, 166, 0);     */
    text-align: center;
    align-items: flex-start;
    position: absolute;
    top: 5px;
}



.container{
    display: flex;
    flex-direction: column;
    padding-top: 80px;}


.socialmedia{
    width: 30px;
    height: 20px;
    padding: 0 10px 0 10px;
    align-items: flex-start; 
}

.title{
    text-align: end;
    color: whitesmoke;
}
.profile-picture{
    display: flex;
    justify-content: center;
    /* border: 2px solid rgb(255, 166, 0);     */
    text-align: center;
    align-items: flex-start;
    position: relative;

}